body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:20px;
    color:#333;
    padding:40px;
    margin:0 auto;
    text-rendering: optimizeLegibility;
    width: 700px;
}

a {
    color:#0059b3;
    text-decoration:none;
}

a:visited {
    color:#0059b3;
    text-decoration:none;
}

li {
    margin-bottom:8px;
}

.secondary {
    font-size:18px;
}

.date {
    font-size: 18px;
    margin-bottom: 20px;
}